{% extends 'base.html' %}

{% block titulo %}Desenvolvedor | {% endblock %}

{% block conteudo %}

<meta charset="UTF-8">
<main class="container mt-4 mb-4">
    <div class="row mt-3">
        <div class="col">
            <h3>Desenvolvedor desse projeto</h3>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td class="d-none d-lg-block">
                            <img class="cart-img" src="/media/sobre_imagens/2022/02/IMG-20200119-WA0009_3.jpg">
                        </td>
                        <td>
                            <font size="4">
                                <p>Prazer eu sou o Henrique! Um amante da Tecnologia e apaixonado por programação!
                                    Amo estar me atualizando e aprendendo coisas novas.
                                </p>
                                <p> Desde bem novo sempre tive a curiosidade em saber como funcionava um jogo,
                                    um site e coisas do tipo, e quando surgiu a oportunidade de programar percebi que é isso
                                    que realmente quero realizar na minha carreira profissional, sendo um desenvolvedor.
                                </p>
                                <p>Se quiser saber mais sobre mim e minhas competências,
                                    sinta-se à vontade para entrar no meu linkedin no botão abaixo!
                                    &#x1F447;
                                </p>
                            </font>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
        <div class="col-lg mt-auto">
            <a class="btn btn-lg btn-block btn-primary"
               href="https://www.linkedin.com/in/henrique-da-silva-sousa-2a077622b/"
               target="_blank" rel="noopener noreferrer">Conhecer
            </a>
        </div>

</main>

{% endblock %}