{% extends 'base.html' %}

{% block titulo %} Projeto | {% endblock %}

{% block conteudo %}

<meta charset="UTF-8">
<main class="container mt-4 mb-4">
    <div class="row mt-3">
        <div class="col">
            <h2><strong> Sobre o projeto </strong></h2>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <font size="4">
                                <h4>
                                    Finalidade e Objetivos
                                </h4>
                                <br>
                                <p>
                                    • Criar um site que possa ser útil para uma empresa que deseja ter uma
                                    loja virtual (E-commerce).
                                </p>
                                <p>
                                    • Treinar e desenvolver minhas competências.
                                </p>
                                <p>
                                    • Desenvolver mais capacidades e conhecimentos sobre HTML e
                                    a linguagem de programação Python e seu framework Django.
                                </p>
                                <p>
                                    • Identificar as competências que possuo e as que precisam ser desenvolvidas;
                                </p>


                            </font>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}
